@model web_req_volcano.Models.CompanyPaper

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompanyPaper</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPapersDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPapersDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPapersYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPapersYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPapersNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPapersNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Papers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Papers.PapersId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompanyPapersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
